[user]
	email = {{ .email }}
	name = Daniel Sinev
[core]
	editor = {{ if eq .chezmoi.os "windows" }}"notepad++.exe" -multiInst -notabbar -nosession -noPlugin{{ else }}nvim{{ end }}
	excludesfile = {{ if eq .chezmoi.os "windows" }}%USERPROFILE%\\.gitignore_global{{ else }}{{ joinPath .chezmoi.homeDir ".gitignore_global" }}{{ end }}
{{ if ne .chezmoi.os "windows" -}}
[credential]
	helper = store --file ~/.git-credentials
{{ end -}}
[init]
	defaultBranch = main
[fetch]
	prune = true
