[user]
	email = {{ .email }}
	name = Daniel Sinev
[core]
	editor = nvim
	excludesfile = /home/ds/.gitignore_global
[credential]
	helper = store --file ~/.git-credentials
[init]
	defaultBranch = main
[fetch]
	prune = true
