{{- if eq .chezmoi.os "windows" -}}
$ahkDir = Join-Path "{{ .chezmoi.homeDir }}" ".autohotkey"
$startupDir = [System.Environment]::GetFolderPath("Startup")
$shell = New-Object -ComObject WScript.Shell

foreach ($file in Get-ChildItem -Path $ahkDir -Filter "*.ahk") {
    $shortcut = $shell.CreateShortcut((Join-Path $startupDir ($file.BaseName + ".lnk")))
    $shortcut.TargetPath = $file.FullName
    $shortcut.Save()
}
{{- end -}}
