[opener]
edit = [
	{ run = 'nvim "$@"', block = true}
  ]
{{ if eq .chezmoi.os "linux" -}}
image = [
  {run = 'nomacs "$@"'}
  ]
kwave = [
  { run = 'kwave "$@"', desc = "Kwave" },
]
{{- end }}

[open]
{{ if eq .chezmoi.os "linux" -}}
prepend_rules = [
  { mime = "audio/*", use = "kwave" },
]
{{- end }}

[mgr]
show_hidden=true

[plugin]
{{ if eq .chezmoi.os "linux" -}}
prepend_previewers = [
	# Archive previewer
	{ mime = "application/*zip",            run = "ouch" },
	{ mime = "application/x-tar",           run = "ouch" },
	{ mime = "application/x-bzip2",         run = "ouch" },
	{ mime = "application/x-7z-compressed", run = "ouch" },
	{ mime = "application/x-rar",           run = "ouch" },
  { mime = "application/x-xz",            run = "ouch" },
	{ mime = "application/xz",              run = "ouch" },
]
{{- end }}

[[plugin.prepend_fetchers]]
id    = "git"
url  = "*/"
run   = "git"
group = "mime"

